*{
    margin: 0;
    padding: 0;
}
body {
    background-color: whitesmoke;
}
/* ========================================== HEADER ========================================== */
.header {
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    margin-bottom: 15px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.header .logo p {
    font-size: 45px;
}
.header .logo {
    display: inline-block;
    margin-left: 5%;
}
.nav ul li{
    display: inline-block;
    margin: 15.5px;
    font-size: 18px;
}
.nav ul li i {
    padding-right: 5px;
}
.nav ul li input[type=text] {
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 250px;
    outline: none;
    padding-left: 5px;
    background-color: transparent;
    border-bottom: 2px solid black;
}
.nav {
    float: right;
    margin-right: 10%;
}
.nav ul li a, .fa-search{
    text-decoration: none;
    color: gray;
}
.nav ul li a:hover, .fa-search:hover{
    color: black;
    text-decoration: underline;
}
.nav ul li p {
    display: none;
}
.nav ul li a:hover .hover {
    display: inline;
}
.nav ul li:hover .active {
    display: inline;
}
/* ========================================== LOGIN ========================================== */
.login_content {
    color: gray;
    font-size: 18px;
    border-radius: 10px;
    width: 50%;
    height: 500px;
    background-color: white;
    margin-top: 22%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}
.login_content .login {
    height: 35%;
    background-image: url("login_fashion.jpg");
    background-size: contain;
    opacity: 0.8;
    border-radius: 10px 10px 0 0;
    transition: 0.7s;
}
.login_content .login:hover {
    opacity: 1;
}
.login_content .login h1 {
    text-align: center;
    color: white;
    padding-top: 15px;
}
.login_content .login_form {
    padding-top: 5%;
     text-align: center;
    /*transform: translateX(20%);*/
}
.login_content .login_form .login_inputs {
    padding-bottom: 5%;
}
.login_content .login_form .login_inputs .login_username_input{
    padding-bottom: 5%;
}
.login_content .login_form .login_inputs .username_label{
    margin-right: 4%;
    margin-left: 1.7%;
}
.login_content .login_form .login_inputs .password_label{
    margin-right: 4%;
    margin-left: 2.3%;
}
.login_content .login_form .login_inputs #username, .login_content .login_form .login_inputs #password {
    height: 35px;
    width: 40%;
    border: none;
    border-bottom: 2px solid gray;
    padding: 0 5px;
    transition: 0.7s;
}
.login_content .login_form .login_inputs #username:focus, .login_content .login_form .login_inputs #password:focus {
    outline: none;
    border-bottom: 2px solid green;
    color: gray;
}
.login_content .login_form .signup_forgot .signup_link {
    color: black;
    text-decoration: none;
    position: inline-block;
}
.login_content .login_form .signup_forgot .forgot_pass {
    padding-left: 10%;
    text-decoration: none;
    color: #FF6666;
}
.login_content .login_form .signup_forgot .forgot_pass:hover {
    color: red;
    font-style: italic;
}
.login_content .login_form .signup_forgot .signup_link:hover {
    font-style: italic;
}
.login_content .login_form .signup_forgot .forgot_pass {
    position: inline-block;
}
.login_content .login_form .login_btn {
    width: 100px;
    height: 50px;
    margin-top: 5%;
    border-radius: 10px;
    border: none;
    background-color: #90EE90;
    color: gray;
    transition: 0.7s;
}
.login_content .login_form .login_btn:hover {
    background-color: transparent;
    color: green;
    cursor: pointer;
}
/* ========================================== CONTENT ========================================== */
.mwk {
    width: 100%;
    margin-bottom: 15px;
    display: inline-block;
}
.mwk .m, .mwk .w, .mwk .k {
    width: 33%;
    height: 570px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    transition: 0.1s;
    /* border: 1px solid black; */
    /* float: left; */
    /* margin: 0px 1px; */
}
.mwk .m:hover, .mwk .w:hover, .mwk .k:hover {
    filter: none;
    cursor: pointer;
    transform: scale(1.05);
    /* width: 36%;
    z-index: 1; */
}
.mwk .m .men, .mwk .w .women, .mwk .k .kids {
    /* text-align: center; */
    padding-top: 100px;
    padding-left: 20px;
    font-size: 35px;
    font-style: italic;
    color: #6b2b00;
}
.mwk .m {
    background-image: url("Men.jfif");
}
.mwk .w {
    background-image: url("Women.jfif");
}
.mwk .k {
    background-image: url("Kids.jfif");
}